:root {
	--body: white;
	--content: #f8f9fa;
	--text-harsh: black;
	--text: #444444;
	--text-secondary: #4c4c4c;
	--theme: #457461;
	--overlay-color: rgba(0, 0, 0, 0.05);
	--negative: rgb(255, 45, 85);
	--border: rgba(0, 0, 0, 0.1);
	--anchor: #007aff;
}

@media (prefers-color-scheme: dark) {
	:root {
		--body: #23272d;
		--content: #16191f;
		--text-harsh: white;
		--text: #e9ecef;
		--text-secondary: #ccd0d4;
		--overlay-color: rgba(255, 255, 255, 0.05);
		--negative: rgb(255, 69, 58);
		--border: rgba(255, 255, 255, 0.1);
		--anchor: #5ac8fa;
	}
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, sans-serif;
	background: var(--body);
	color: var(--text);
}
